@page "/"

<Div Class="container-with-centered-content">
    <Div Class="main-page-caption"
         Position="Position.Absolute">
        <Text TextColor="TextColor.Light"
              TextSize="TextSize.Heading1">
            Airplane Booking System
        </Text>
    </Div>
</Div>